<br>
<div *ngIf="showMovieShows">
  <table class="table table-dark">
    <tr>
      <th>Poster</th>
      <th><label>Show ID</label> </th>
      <th><label>Show Name</label> </th>
      <th><label>Show date</label></th>
      <th><label>Seats</label> </th>
      <th><label>Screen name</label> </th>
    </tr>

    <tr class="showTable" *ngFor= "let i of shows;">
      <th><img src="assets/screens/{{i.screenImg}}.jpg" height="75" width="75"/></th>
      <th>{{i.showId}}</th>
      <th>{{i.showName | titlecase }}</th>
      <th>{{i.showDate  | date }}</th>
      <th>{{i.seats}}</th>
      <th>{{i.screenName | titlecase }}</th>
      <th><button class="btn btn-primary" routerLink="/book/{{i.showId}}">Book</button></th>
    </tr>
  </table>

  
</div>

<div *ngIf="showError" class="text-center">
  <h2>{{errorMsg}}</h2>
</div>